[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
