[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/snimpmate"]
	path = bundle/snimpmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "ctags"]
	path = ctags
	url = https://github.com/fishman/ctags.git
[submodule "c:/Users/Chris-pc/vimfiles/bundle/gundo"]
	path = c:/Users/Chris-pc/vimfiles/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/haskell-mode"]
	path = bundle/haskell-mode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/utl"]
	path = bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
